.categoriesList {
  width: 100%;
  max-width: 500px;
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.addButton {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.addButton-icon {
  margin-top: -14px;
  font-size: 19px;
}
