<div class="transactions">
  <ng-container *ngIf="(transactions$ | async); else loadingTemplate">
    <app-transactions-filters
      [categories]="groupedCategories$ | async"
      (update)="handleFiltersUpdate($event)"
    ></app-transactions-filters>

    <app-transactions-table
      *ngIf="(transactions$ | async)?.length > 0; else emptyStateTemplate"
      [transactions]="transactions$ | async"
      (delete)="handleDeleteTransaction($event)"
      (edit)="handleEditTransaction($event)"
    ></app-transactions-table>

    <ng-template #emptyStateTemplate>
      <div class="emptyState mat-typography" fxLayoutAlign="center center">
        <h1 class="mat-headline">{{ 'transactions_empty_state' | translate }}</h1>
      </div>
    </ng-template>

    <button
      class="addButton"
      mat-fab
      color="primary"
      (click)="handleAddTransaction()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </ng-container>

  <ng-template #loadingTemplate>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
</div>
