<div mat-dialog-content>
  <form [formGroup]="categoryForm">
    <mat-form-field class="fullWidth">
      <mat-select [placeholder]="'type' | translate" formControlName="type">
        <mat-option value="expense">{{ 'expense' | translate }}</mat-option>
        <mat-option value="income">{{ 'income' | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="fullWidth">
      <input
        required
        matInput
        [placeholder]="'category_name' | translate"
        formControlName="name"
      />
      <mat-error *ngIf="categoryForm.get('name').hasError('required')">
        {{ 'category_name_required' | translate }}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div
  mat-dialog-actions
  fxLayoutAlign="space-between center"
  class="dialogActions"
>
  <button mat-stroked-button (click)="onCancel()">
    {{ 'cancel' | translate }}
  </button>
  <button mat-raised-button color="primary" cdkFocusInitial (click)="onSave()">
    {{ 'set' | translate }}
  </button>
</div>
